html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
    background-color: rgba(27,27,27,.4);
    border-radius: 10px;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(27,27,27,.4);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
}